<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Conversation">
    <head>
        <title>Campfire Media</title>
        <meta name="description" content="<%= description %>" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="<%= title %>">
        <meta itemprop="description" content="<%= description %>">
        <meta itemprop="image" content="<%= imageUrl %>">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <!-- <meta name="twitter:site" content="@publisher_handle"> -->
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:description" content="<%= description %>">
        <!-- <meta name="twitter:creator" content="@author_handle"> -->
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image" content="<%= imageUrl %>">
        <meta name="twitter:image:alt" content="Cover picture">

        <!-- Open Graph data -->
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= 'https://campfire.fm/'+page %>" />
        <meta property="og:image" content="<%= imageUrl %>" />
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        <meta property="og:description" content="<%= description %>" />
        <meta property="fb:app_id" content="<%= fb_app_id %>"/>
        <meta property="og:site_name" content="Campfire Media" />

    </head>
    <body>
        <p>Title: "<%= title %>"</p>
        <p>Description: <%= description %></p>
    </body>
</html>