<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="<%= question %>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= 'https://campfire.fm/eavesdrop/'+id %>" />
        <meta property="og:image" content="<%= imageUrl %>" />
    </head>
    <body>
        <p>description: <%= question %></p>
        <img src="<%= imageUrl %>">
    </body>
</html>